tr {
    td {
        position: relative;
        vertical-align: middle;
        height: 45px;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
        padding: 0px 10px;
    }
    th {
        padding: 0 5px;
    }
}

.tableHeader {
    text-align: center;
    color: inherit;
}

.tableHeaderTeam {
    text-align: left;
    padding-left: 15px;
}

.tableHeaderPoints {
    color: #5546b7;
}

.rank {
    font-weight: bold;
}

.team {
    display: flex;
    align-items: center;
    text-align: left;

    span {
        padding-left: 10px;
    }
}

.teamImg {
    width: 35px;
    height: 35px;
}

.selected {
    height: 44px;
    font-weight: bold;
    background-color: rgba(239, 234, 252, 0.4);
    content: "";
}
