.datePicker {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  width: 180px;
  height: 30px;
  text-align: center;
  padding-right: 14px;
}

.customHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 11px;
  padding: 0;
  margin-top: 5px;
}

.monthBox {
  display: flex;
}

.monthButton {
  border: none;
  background-color: white;
  cursor: pointer;
}

.month {
  background-color: white;
  color: black;
  text-align: center;
  border: none;
  font-size: 14px;
  padding-right: 2px;
  margin-bottom: 2px;
  font-weight: 500;
  width: 76px;
  cursor: default;
  font-weight: 570;
}

.year {
  background-color: white;
  color: black;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding-right: 2px;
  margin-right: 6px;
  cursor: pointer;
  font-weight: 570;
}

.calenderWrapper {
  display: flex;
}

.datePicker {
  cursor: default;
}

.selectedDay,
.unselectedDay {
  padding: 1px;
}

.selectedDay {
  background-color: #5546b7;
  color: white;
  border-radius: 20%;
}
